[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
ipython = "*"
qrcode = "*"
django-memcached = "*"
pillow = "*"
python-memcached = "*"
requests = "*"
purerpc = "*"
lndgrpc = "*"
environs = "*"
celery = ">=4.2"
django-celery-results = "*"
django-redis = "*"
lnurl = "*"
shortuuid = "*"
bitstring = "*"
ecdsa = "*"
django-celery-beat = "*"

[requires]
python_version = "3.9"
